AUScroll/bin/
AUScroll/gen/
AUScroll/.settings/
AUScroll/.project
AUScroll/.classpath
AUScroll/local.properties

ExampleAUScroll/bin/
ExampleAUScroll/gen/
ExampleAUScroll/.settings/
ExampleAUScroll/.project
ExampleAUScroll/.classpath
ExampleAUScroll/local.properties

*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
